{% extends "layout.html" %}
{% block content %}
    <div class="container forms-cont">
        <div class="row d-flex justify-content-center mx-auto">
            <div class="col-xs-12 col-md-8">
            <form method='POST' action=''>
              {{ form.hidden_tag() }}
                <div class="d-flex justify-content-center mx-auto main-label" >
                    <h2>Add Issue</h2>
                </div>

                <div class="form-group text-center">
                  {{ form.issue_title.label(class="form-control-label text-center") }}
                    {% if form.issue_title.errors %}
                      {{ form.issue_title(class="form-control form-control-lg is-invalid sr-only", placeholder="What`s up?") }}
                        <div class="invalid-feedback">
                      {% for error in form.issue_title.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                        </div>
                    {% else %}
                      {{ form.issue_title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group text-center">
                  {{ form.issue_content.label(class="form-control-label text-center") }}
                    {% if form.issue_content.errors %}
                      {{ form.issue_content(class="form-control form-control-lg is-invalid sr-only", placeholder='What`s the problem?') }}
                        <div class="invalid-feedback">
                      {% for error in form.issue_content.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                        </div>
                    {% else %}
                      {{ form.issue_content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group text-center">
                  {{ form.issue_type.label(class="form-control-label") }}
                  </br>
                    {% for subfield in form.issue_type %}
                    <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label }}</td>
                    </tr>
                    {% endfor %}
                </div>

                <div class="form-group text-center">
<!--                  <input type="file" class="form-control-file border">-->
                  {{ form.file.label (class="form-control-file") }}
                  </br>
                    {% if form.file.errors %}
                      {{ form.file(class="form-control-file border is-invalid sr-only", placeholder="Add picture") }}
                        <div class="invalid-feedback">
                      {% for error in form.file.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                        </div>
                    {% else %}
                      {{ form.file(class="form-control-file border") }}
                    {% endif %}
                </div>
                <div class="form-group justify-content-center d-flex">
                    {{ form.submit(class="btn btn-outline-info")}}
                </div>

            </form>
            <div class="border-top pt-3">
            </div>
        </div>
        </div>
    </div>

{% endblock %}
